#surveyCreator {
  height: 100vh;
  width: 100vw;
}

.icons {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  object-fit: contain;
  margin-right: 5px;
}

.icon-khai-lai-tu-dau {
  background-image: url("/assets/img/icons/khai-lai-tu-dau.svg");
}

.icon-quay-lai {
  background-image: url("/assets/img/icons/quay-lai.svg");
  width: 10px;
  height: 15px;
  background-size: 15px 10px;
}
