#box-phieu-khao-sat {
  margin: auto;
  max-width: 1440px;
  position: relative;
}

#box-content {
  min-height: calc(100vh - 256px);
  padding: 30px 60px;
  background: url("/assets/img/12\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box-header-phieu {
  height: auto;
  margin-bottom: 30px;
}

.box-header-phieu div:first-child div {
  max-width: 500px;
  margin: auto;
  color: rgba(50, 87, 170, 1);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  padding-bottom: 3px;
}

.box-header-phieu div:first-child small {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.box-header-phieu div:last-child {
  max-width: 100%;
  margin: auto;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.b-white {
  background: white;
  padding: 0 60px 60px 60px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.btn-tra-cuu {
  background: rgba(36, 119, 69, 1);
}

.link {
  cursor: pointer;
  color: rgba(36, 119, 69, 1);
}

.text-indent-30 {
  text-indent: 30px;
}
