<div id="box-phieu-khao-sat">
    <app-header-client></app-header-client>
    <div id="box-content">
        <div class="b-white">
            <div class="box-header-phieu">
                <div class="text-center">
                    <div>PHIẾU KHẢO SÁT</div>
                    <small>DÀNH CHO DOANH NGHIỆP, ĐƠN VỊ SẢN XUẤT</small>
                </div>
                <div style="text-align: start;width: 1100px;">
                    <P class="text-indent-30">Kính gửi: Quý Doanh nghiệp, Quý Đơn vị</P>
                    <P class="text-indent-30">Thực hiện chủ trương, định hướng của Chính phủ về việc triển khai hệ thống
                        truy
                        xuất nguồn gốc
                        tại
                        các Quyết định số 100/QĐ-TTg ngày 19 tháng 01 năm 2019 của Thủ tướng Chính phủ về việc phê duyệt
                        đề
                        án triển khai, áp dụng và quản lý hệ thống truy xuất nguồn gốc; Quyết định số 1978/QĐ-BCT ngày
                        28
                        tháng 7 năm 2020 của Bộ trưởng Bộ Công Thương về việc ban hành Kế hoạch thực hiện “Đề án triển
                        khai,
                        áp dụng và quản lý hệ thống truy xuất nguồn gốc sản phẩm, hàng hoá giai đoạn đến năm 2025, định
                        hướng đến năm 2030” thuộc phạm vi quản lý của Bộ Công Thương, nhằm triển khai hệ thống truy xuất
                        nguồn gốc đáp ứng đúng nhu cầu thực tiễn, Cục Thương mại điện tử và Kinh tế số (TMĐT và KTS)
                        phối
                        hợp với đơn vị tư vấn là Công ty Cổ phần tư vấn giải pháp Trí tuệ nhân tạo thực hiện khảo sát
                        nhu
                        cầu triển khai truy xuất nguồn gốc xuất xứ sản phẩm, hàng hoá của các doanh nghiệp và đơn vị
                        trên
                        toàn quốc.</P>
                    <P class="text-indent-30">Kết quả cuộc khảo sát sẽ là cơ sở dữ liệu thực tế để Cục TMĐT và KTS đánh
                        giá chính
                        xác nhu cầu
                        và
                        thực trạng triển khai, ứng dụng truy xuất nguồn gốc xuất xứ đối với các sản phẩm, hàng hoá trên
                        thị
                        trường, qua đó có cơ sở đề xây dựng, triển khai hệ thống truy xuất nguồn gốc một cách phù hợp.
                        Trên cơ sở đó, Cục TMĐT và KTS kính đề nghị Quý Doanh nghiệp, Quý Đơn vị cùng tích cực tham gia
                        và
                        cuộc khảo sát, giúp Cục TMĐT và KTS cũng như đơn vị tư vấn hoàn thành cuộc khảo sát thành công.
                    </P>
                    <P class="text-indent-30">Trân trọng ./.</P>

                    <a href="https://kstxng.idea.gov.vn/assets/cv/CV_1476TM%C4%90T-KTS.pdf" target="_blank"
                        rel="noopener noreferrer">
                        Bấm để xem chi tiết Công văn số 1476/TMĐT-KTS v/v Khảo sát nhu cầu triển khai truy xuất nguồn
                        gốc
                        xuất xứ sản phẩm, hàng hóa
                    </a>
                    <br>
                    <a href="https://kstxng.idea.gov.vn/assets/cv/CV_56AITECH-KS.pdf" target="_blank"
                        rel="noopener noreferrer">
                        Bấm để xem chi tiết Công văn số 56/AITECH-KS v/v thực hiện Khảo sát nhu cầu triển khai truy xuất
                        nguồn gốc sản phẩm, hàng hóa
                    </a>

                    <div class="fw-medium" style="text-align: start;margin-top: 20px;">
                        Quý Doanh nghiệp, Quý Đơn vị có thể thực hiện khảo sát theo phiếu đơn vị tư vấn đã gửi cho doanh
                        nghiệp hoặc thực hiện online trên hệ thống theo các bước như sau:
                        <ol>
                            <li>
                                Nhập mã số doanh nghiệp hoặc mã số thuế vào ô bên dưới và bấm xác nhận
                            </li>
                            <li>
                                Nhập thông tin trả lời phiếu khảo sát sau đó bấm Gửi phiếu
                            </li>
                            <li>
                                Tải file, in ký, đóng dấu và gửi về địa chỉ: Công ty Cổ phần tư vấn giải pháp Trí tuệ
                                nhân tạo, Số
                                15 Lô 1E, Trung Yên 11C, phường Trung Hòa, quận Cầu Giấy, thành phố Hà Nội
                            </li>
                        </ol>
                    </div>

                    <div style="text-align: start">
                        <span class="fw-medium">Mọi thắc mắc xin vui lòng liên hệ qua số điện thoại/zalo:</span><a href="tel:+8437893756">0378.937.56</a> - <a href="tel:+8437893756">0936.407.792</a>
                        <!-- <ul>
                            <li>Đỗ Thị Tâm – Số điện thoại: 0378.937.568</li>
                            <li>Nguyễn Thuỳ Dung – Số điện thoại: 0936.407.792</li>
                            <li>Hoàng Mạnh Cường – Số điện thoại: 0328.845.084</li>
                            <li>Đỗ Thanh Linh – Số điện thoại: 0339.257.682</li>
                            <li>Phí Đức Thanh – Số điện thoại: 0366.441.086</li>
                            <li>Đinh Hoàng Anh – Số điện thoại: 0964.197.848</li>
                            <li>Nguyễn Ngọc Trà My – Số điện thoại: 0392.093.456</li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <div>
                <form (ngSubmit)="onSubmitSearch()">
                    <div class="mb-3 row">
                        <div class="col-md-10 col-sm-10">
                            <label for="keyWord" class="text-danger fw-medium ms-2">Nhập mã số doanh nghiệp hoặc mã số thuế để tham gia khảo sát *</label>
                            <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord"
                                [ngModelOptions]="{ standalone: true }"
                                placeholder="Nhập mã số doanh nghiệp hoặc mã số thuế để tham gia khảo sát" />
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-block btn-tra-cuu">
                                Xác nhận
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <table class="table" *ngIf="datas && datas.length > 0">
                    <thead>
                        <th>Tiêu đề</th>
                        <th>Địa chỉ nhận</th>
                        <!-- <th>Tên bảng khảo sát</th> -->
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Khảo sát</th>
                    </thead>
                    <tr *ngFor="let item of datas">
                        <td class="text-break" style="width: 35%;">{{ item.tieuDe }}</td>
                        <td>{{ item.diaChiNhan }}</td>
                        <!-- <td>{{ item.tenBangKhaoSat }}</td> -->
                        <td>{{ item.ngayBatDau | date:'dd/MM/yyyy' }}</td>
                        <td>{{ item.ngayKetThuc | date:'dd/MM/yyyy' }}</td>
                        <td><a class="link" (click)="khaoSat(item.linkKhaoSat)" title="{{item.tieuDe}}">Chi tiết khảo
                                sát</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <app-footer-client></app-footer-client>
</div>
<p-toast></p-toast>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" (click)="pageTop()">
    <i class="fas fa-angle-up"></i>
</a>