.custom-button {
  background-color: #4e73df;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}
.custom-button:hover {
  background-color: #4e73df;
}
