.btn_plus{
    background-color: white;
    border: 1px solid #ccc;
    width: 35px;

}
.btn_plus>a>i{
    color: green;
}
.btn_delete{
    background-color: white;
    border: 1px solid #ccc;
    width: 35px;
}
.btn_delete > a >i{
    color: red;
}