################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Infrastructure/bin/Debug/net6.0
/Infrastructure/obj
/SurveyApplication.API/bin/Debug/net6.0
/SurveyApplication.API/obj
/SurveyApplication.Application/bin/Debug/net6.0
/SurveyApplication.Application/obj
/SurveyApplication.Domain/obj
/SurveyApplication.Domain/bin/Debug/net6.0
/SurveyApplication.Identity/obj
/SurveyApplication.UI/.angular/cache/16.2.0
/SurveyApplication.UI/node_modules
/SurveyApplication.Persistence/bin/Debug/net6.0
/SurveyApplication.Persistence/obj
