################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.assets.cache
/Infrastructure/obj/Release/net6.0/SurveyApplication.Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Release/net6.0/SurveyApplication.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Release/net6.0/SurveyApplication.Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Release/net6.0/SurveyApplication.Infrastructure.assets.cache
/Infrastructure/obj/Release/net6.0/SurveyApplication.Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Release/net6.0/SurveyApplication.Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/SurveyApplication.Application/obj/Debug/net6.0/SurveyApplication.Application.GeneratedMSBuildEditorConfig.editorconfig
/SurveyApplication.Application/obj/Debug/net6.0/SurveyApplication.Application.csproj.AssemblyReference.cache
/SurveyApplication.Application/obj/Debug/net6.0/SurveyApplication.Application.assets.cache
*.cs
/SurveyApplication.Domain/obj/Debug/net6.0/SurveyApplication.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SurveyApplication.Domain/obj/Debug/net6.0/SurveyApplication.Domain.assets.cache
/SurveyApplication.Domain/obj/Release/net6.0/SurveyApplication.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SurveyApplication.Domain/obj/Release/net6.0/SurveyApplication.Domain.csproj.AssemblyReference.cache
/SurveyApplication.Domain/obj/Release/net6.0/SurveyApplication.Domain.assets.cache
/SurveyApplication.Domain/obj/Release/net6.0/SurveyApplication.Domain.AssemblyInfoInputs.cache
/SurveyApplication.Persistence/obj/Debug/net6.0/SurveyApplication.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/SurveyApplication.Persistence/obj/Debug/net6.0/SurveyApplication.Persistence.csproj.AssemblyReference.cache
/SurveyApplication.Persistence/obj/Debug/net6.0/SurveyApplication.Persistence.assets.cache
/SurveyApplication.Application/obj/Release/net6.0/SurveyApplication.Application.GeneratedMSBuildEditorConfig.editorconfig
/SurveyApplication.Application/obj/Release/net6.0/SurveyApplication.Application.csproj.AssemblyReference.cache
/SurveyApplication.Application/obj/Release/net6.0/SurveyApplication.Application.assets.cache
/SurveyApplication.Application/obj/Release/net6.0/SurveyApplication.Application.AssemblyInfoInputs.cache
/SurveyApplication.Persistence/obj/Release/net6.0/SurveyApplication.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/SurveyApplication.Persistence/obj/Release/net6.0/SurveyApplication.Persistence.csproj.AssemblyReference.cache
/SurveyApplication.Persistence/obj/Release/net6.0/SurveyApplication.Persistence.assets.cache
/SurveyApplication.Persistence/obj/Release/net6.0/SurveyApplication.Persistence.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.assets.cache
