################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SurveyApplication/config
/.vs/SurveyApplication/v17
*.vsidx
/.vs/SurveyApplication/FileContentIndex/read.lock
/Infrastructure/bin/Debug/net6.0
/Infrastructure/obj/Debug/net6.0/refint
/Infrastructure/obj/Debug/net6.0/ref
/Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.assets.cache
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.csproj.CopyComplete
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/SurveyApplication.Infrastructure.pdb
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
/Infrastructure/obj/SurveyApplication.Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/SurveyApplication.Infrastructure.csproj.nuget.g.props
/.vs
/Infrastructure/bin
/Infrastructure/obj
*.dll
/SurveyApplication.API/bin
/SurveyApplication.API/obj
/SurveyApplication.Application/bin
/SurveyApplication.Application/obj
/SurveyApplication.Application/bin/Debug/net6.0/SurveyApplication.Application.deps.json
/SurveyApplication.Domain/bin
/SurveyApplication.Domain/obj
/SurveyApplication.Identity/bin
/SurveyApplication.Identity/obj
/SurveyApplication.Persistence/bin
/SurveyApplication.Persistence/obj
/SurveyApplication.UI/.angular
/SurveyApplication.UI/.vscode
/SurveyApplication.UI/node_modules
/SurveyApplication.UI/.vscode/extensions.json
/SurveyApplication.Utility/bin
/SurveyApplication.Utility/obj
/SurveyApplication.API/.config/dotnet-tools.json
/SurveyApplication.API/Properties/PublishProfiles/FolderProfile.pubxml
/SurveyApplication.API/Properties/PublishProfiles/FolderProfile.pubxml.user
/SurveyApplication.API/.config
/SurveyApplication.API/Properties
/SurveyApplication.UI/dist
/SurveyApplication.Application/obj/Debug/net6.0/SurveyApplication.Application.csproj.CopyComplete
