.form-select-custom {
  .p-dropdown {
    width: 100%;
    &.p-dropdown-clearable {
      .p-dropdown-label {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  .p-multiselect {
    width: 100%;
    .p-multiselect-label {
      &.p-placeholder {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .p-multiselect-panel {
      .p-multiselect-header {
        padding: 0.5rem 1rem;
      }

      .p-multiselect-items {
        padding: 0.5rem 0;
        .p-multiselect-empty-message {
          padding: 0.5rem 1rem;
        }
      }
    }

    .p-multiselect-filter {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    &.p-multiselect-chip {
      .p-multiselect-token {
        padding: 0 0.75rem;
      }
    }
  }

  &.ng-dirty {
    &.ng-invalid > {
      .p-dropdown {
        border-color: #ced4da;
      }
    }
  }

  &.is-invalid {
    &.ng-invalid > {
      .p-dropdown {
        border-color: var(--bs-form-invalid-border-color);
      }
    }
  }

  .p-dropdown-panel {
    .p-dropdown-header {
      padding: 0.5rem 1rem;
      .p-dropdown-filter {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .p-dropdown-items {
      padding: 0.5rem 0;
      .p-dropdown-item,
      .p-dropdown-empty-message {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  .p-disabled {
    .p-dropdown-label {
      padding: 6px 12px;
    }
  }
}

.cust-tbl {
  .p-paginator {
    .p-dropdown {
      .p-dropdown-label {
        display: flex;
        align-items: center;
      }
    }
  }
}

.ck.ck-editor__main > .ck-editor__editable {
  min-height: 88px;
}

#sv-nav-luu-tam {
  input[type="button"] {
    &.sd-btn {
      background: rgba(36, 119, 69, 1);
      padding-left: 8px;
      color: white;
    }
  }
}

.ng-invalid {
  + small {
    &.invalid-feedback {
      display: block !important;
    }
  }
}

.p-inputtext::placeholder {
  color: #ced4da;
}
