.form-select-custom {
  .p-dropdown {
    width: 100%;
    &.p-dropdown-clearable {
      .p-dropdown-label {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .p-dropdown-label {
      padding: 6px 12px;
    }

    &.p-disabled {
      background-color: #e9ecef;
    }
  }

  .p-multiselect {
    width: 100%;
    .p-multiselect-label {
      &.p-placeholder {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .p-multiselect-panel {
      .p-multiselect-header {
        padding: 0.5rem 1rem;
      }

      .p-multiselect-items {
        padding: 0.5rem 0;
        .p-multiselect-empty-message {
          padding: 0.5rem 1rem;
        }
      }
    }

    .p-multiselect-filter {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    &.p-multiselect-chip {
      .p-multiselect-token {
        padding: 0 0.75rem;
      }
    }
  }

  &.ng-dirty {
    &.ng-invalid > {
      .p-dropdown {
        border-color: #ced4da;
      }
    }
  }

  &.is-invalid {
    &.ng-invalid > {
      .p-dropdown {
        border-color: var(--bs-form-invalid-border-color);
      }
    }
  }

  .p-dropdown-panel {
    .p-dropdown-header {
      padding: 0.5rem 1rem;
      .p-dropdown-filter {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .p-dropdown-items {
      padding: 0.5rem 0;
      margin-bottom: 0;
      .p-dropdown-item,
      .p-dropdown-empty-message {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  .p-disabled {
    .p-dropdown-label {
      padding: 6px 12px;
    }
  }
}

.cust-tbl {
  .p-paginator {
    .p-dropdown {
      .p-dropdown-label {
        display: flex;
        align-items: center;
      }
    }
  }

  .p-datatable {
    .p-datatable-thead {
      > tr {
        > th {
          padding: 0.6rem 0.6rem;
        }
      }
    }

    .p-datatable-tbody {
      > tr {
        > td {
          padding: 0.6rem 0.6rem;
        }
      }
    }
  }
}

.ck.ck-editor__main > .ck-editor__editable {
  min-height: 88px;
}

#sv-nav-luu-tam {
  input[type="button"] {
    &.sd-btn {
      background: rgba(36, 119, 69, 1);
      padding-left: 8px;
      color: white;
    }
  }
}

#sv-nav-download-survey {
  input[type="button"] {
    &.sd-btn {
      background: rgba(36, 119, 69, 1);
      padding-left: 8px;
      color: white;
    }
  }
}

.ng-invalid {
  + small {
    &.invalid-feedback {
      display: block !important;
    }
  }
}

.p-inputtext::placeholder {
  color: #ced4da;
}

.custom {
  .p-tabview {
    .p-tabview-nav {
      padding: 0;
      li {
        .p-tabview-nav-link {
          padding: 0;
          button {
            background: white;
            color: #4e73df;
            border: none;
            padding: 0.75rem 1rem;
          }
        }
      }
    }
  }
}

.custom-button {
  background-color: #4e73df;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #4e73df;
  }
}

.custom-small-button {
  font-size: 15px;
  padding: 6px 12px;
}

.btn_plus {
  background-color: white;
  border: 1px solid #ccc;
  width: 35px;
  & > a {
    & > i {
      color: green;
    }
  }
}

.btn_delete {
  background-color: white;
  border: 1px solid #ccc;
  width: 35px;
  & > a {
    & > i {
      color: red;
    }
  }
}

/*Scroll*/
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar:hover {
  width: 0.8rem;
  height: 0.8rem;
}

*:hover::-webkit-scrollbar-corner {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.05rem #999 !important;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
  transition: background-color 0.2s linear;
}
/*Scroll*/

.text-ellipsis {
  max-width: 1180px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sd {
  &-title {
    &.sd-element__title.sd-panel__title {
      padding-top: 15px;
      margin-left: -10px;
    }
  }

  &-checkbox {
    &__decorator {
      &.sd-item {
        &__decorator {
          background-color: unset !important;
          border: 1px solid black !important;
          &:focus {
            background-color: unset !important;
            border: 1px solid black !important;
          }
        }
        &--checked {
          .sd-item__decorator {
            background-color: unset !important;
            border: 1px solid black !important;
            &:focus {
              background-color: unset !important;
              border: 1px solid black !important;
            }
          }
        }
      }
    }

    &--checked {
      .sd-checkbox {
        &__svg {
          use {
            fill: black !important;
          }
        }
      }
    }
  }

  &-radio {
    &--checked {
      .sd-radio {
        &__decorator {
          &:after {
            background-color: black !important;
          }
        }
      }
    }
  }

  &-item {
    &--disabled {
      opacity: 0.9;
    }

    &__decorator {
      opacity: 0.6;
      &.sd-radio__decorator {
        border: 1px solid #000;
        background: white !important;
      }
    }
  }

  &-element--complex {
    &.sd-element--with-frame {
      > .sd-element__header--location-top {
        padding: 0;
        &:after {
          bottom: -15px;
        }
      }
    }
  }

  &-description {
    font-size: 12px;
    font-style: italic;
  }
}

.custom-complete b {
  color: red;
}

.input-date-custom {
  button {
    &[type="button"] {
      &.p-datepicker-trigger {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #4e73df;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

button {
  &.p-element {
    border-radius: 4px;
  }
}

.p-dialog {
  .p-dialog-footer {
    button {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.p-ripple.p-element {
  &.p-paginator-element {
    border-radius: 50%;
  }
}

.p-dropdown-items {
  padding: 0;
}

.sd-element__title.sd-element__title--disabled,
.sd-item--disabled .sd-item__control-label {
  opacity: 0.9;
}

.khao-sat .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
}

$fuschia: #247745;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
#sv-nav-complete {
  font-family: "Helvetica", "Arial", sans-serif;
  appearance: none;
  border: none;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(36 119 69 / 30%);

  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
      15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
      20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active {
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
