<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>
                <!-- Topbar Search -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1" hidden>
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="assets/img/undraw_profile_1.svg" alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="assets/img/undraw_profile_2.svg" alt="...">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="assets/img/undraw_profile_3.svg" alt="...">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                        alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                            <img class="img-profile rounded-circle" [src]="urlFist || 'http://placehold.it/180'" />
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" 
                            aria-labelledby="userDropdown">
                            <a style="cursor: pointer;"class="dropdown-item" (click)="editProfile()">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Hồ Sơ
                            </a>
                            <div class="dropdown-divider"></div>
                            <a style="cursor: pointer;" class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đăng Xuất</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>  
            <div class="modal-body">Bạn có chắc chắn muốn đăng xuất không?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Huỷ</button>
                <a class="btn btn-primary" href="/" (click)="logout()">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>

<!-- modal hồ sở cá nhân-->
<form [formGroup]="FormProfile" (ngSubmit)="save()">
    <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw',height: '90vh' }" [draggable]="false"
        [resizable]="true" [maximizable]="true">
        <ng-template pTemplate="header">
            <h5 class="modal-title">
              Hồ sơ cá nhân
            </h5>
        </ng-template>
        <ng-template pTemplate="body">
            <div class="row">
                <div class="col-md-4"> 
                    <div class="style-profile">
                        <img [src]="urlFist || 'http://placehold.it/180'" />
                      </div>
                      <div class="style-profile-input-img">
                        <div class="w-75 mt-2">
                          <div class="mt-3 mb-3 m-auto">
                            <div class="imageUpload mb-2">
                              <input style="display: none;" type="file" class="custom-file-input" id="image" (change)="onFileChanged($event)"
                                accept=".jpg,.png">
                              <label class="btn btn-secondary" for="image"><i class="pi pi-upload" style="font-size: 1em"></i> Thay đổi ảnh đại diện</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    
                    <div class="style-profile-title">
                        <h6><i class="pi pi pi-user"></i> : {{Name}}</h6>
                        <h6><i class="pi pi-briefcase"></i> : {{Role}}</h6>
                        <h6><i class="pi pi-map-marker"></i> : {{Address}}</h6>
                       
                    </div>
                </div>
                <div class="row col-md-8">
                    <div class="form-group col-md-12">
                        <label for="recipient-name" class="col-form-label">Email: <span
                                style="color: red;">*</span></label>
                        <input type="text" formControlName="email" class="form-control" id="recipient-name"
                            pInputText placeholder="Nhập Email">
                 
                    </div>
                    <div class="form-group col-md-12">
                        <label for="recipient-name" class="col-form-label">Tên người dùng: <span
                                style="color: red;">*</span></label>
                        <input type="text" formControlName="name" class="form-control" id="recipient-name"
                            pInputText placeholder="Nhập Tên người dùng">
                  
                    </div>
                    <div class="form-group col-md-12">
                        <label for="recipient-name" class="col-form-label">Tên đăng nhập: <span style="color: red;">*</span></label>
                    <input type="text" formControlName="userName" class="form-control" id="recipient-name" pInputText
                        placeholder="Nhập Tên đăng nhập">
          
                    </div>
                    <div class="form-group col-md-12">
                        <label for="recipient-name" class="col-form-label">Địa chỉ: <span style="color: red;">*</span></label>
                    <input type="text" formControlName="address" class="form-control" id="recipient-name" pInputText
                        placeholder="Nhập Địa chỉ">
             
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton type="button" (click)="visible = false" label="Đóng"class="custom-button surface-600"></button>
            <button pButton type="submit" icon="pi pi-save" label="Lưu thay đổi" class="custom-button"></button>
        </ng-template>
    </p-dialog>
</form>
<p-toast></p-toast>