/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.sd-body.sd-body--responsive {
  background: white !important;
  border: 1px solid #000000;
}

.sd-root-modern .sd-container-modern__title {
  border: 1px solid #000000;
  border-bottom: none;
  padding: 1px !important;
}

.sd-header__text .sd-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black !important;
}

.sd-completedpage.sv-components-column {
  background-color: white;
  border: 1px solid;
}

.sd-completedpage:before {
  height: 36px !important;
}
