<div>
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" [editable]="true" optionLabel="name"></p-dropdown>
    <div class="row">
        <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Loại thời gian</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Từ ngày</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Đến ngày </label>
            <input type="date" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Loại thời gian</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Loại thời gian</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group ml-3 col-md-1">
            <a href="#" class="btn btn-primary btn-icon-split" style="margin-top: 33px;">
                <span class="text">Reset</span>
            </a>
          </div>
    </div>
</div>