<survey [model]="model"></survey>
<div class="note-new" *ngIf="note">
  <small>
    Vui lòng tải phiếu, in ký, đóng dấu và gửi về địa chỉ: Công ty Cổ phần tư vấn giải pháp Trí tuệ nhân tạo, Số
    15 Lô 1E, Trung Yên 11C, phường Trung Hòa, quận Cầu Giấy, thành phố Hà Nội
  </small>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<p-confirmDialog #cd [style]="{width: '36vw'}" class="khao-sat">
  <ng-template pTemplate="header">
    <h5>Bạn có chắc chắn muốn hoàn thành phiếu khảo sát không?</h5>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton class="custom-small-button btn btn-secondary" label="Không"
            (click)="cd.reject()">
    </button>
    <button type="button" pButton class="custom-small-button" style="background-color: #ea5c5c" label="Có"
            (click)="cd.accept()">
    </button>
  </ng-template>
</p-confirmDialog>
