#surveyCreator {
  height: 100vh;
  width: 100vw;
}

.icons {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  object-fit: contain;
  margin-right: 5px;
}

.icon-khai-lai-tu-dau {
  background-image: url("/assets/img/icons/khai-lai-tu-dau.svg");
}

.icon-quay-lai {
  background-image: url("/assets/img/icons/quay-lai.svg");
  width: 10px;
  height: 15px;
  background-size: 15px 10px;
}

/* :host {
    .custom-complete b {
      color: red;
    }
  
    .sd-element--complex.sd-element--with-frame
      > .sd-element__header--location-top {
      padding: 0;
    }
  
    .sd-element--complex.sd-element--with-frame
      > .sd-element__header--location-top:after {
      bottom: -15px;
    }
  
    .sd-title.sd-element__title.sd-panel__title {
      padding-top: 15px;
      margin-left: -10px;
    }
  } */

.note {
  margin-top: 15px;
}

/* * :host {
  .sd-table__cell--header .sv-vue-title-additional-div,
  .sd-table__cell--header,
  .sd-table__cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    background-color: #fff !important;
    border-left: 1px solid rgba(0, 0, 0, 0.16);
  }

  .sd-table__cell--header .sv-vue-title-additional-div input,
  .sd-table__cell--header input,
  .sd-table__cell input {
    background: #fff !important;
  }

  .sd-table__cell--header {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
  }

  .sd-table__row .sd-table__cell--header:last-child,
  .sd-table__row .sd-table__cell:last-child,
  .sd-table__cell--header:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.16) !important;
  }

  .sd-root-modern:not(.sd-root-modern--mobile)
    .sd-table__cell:not(.sd-table__cell--actions):not(
      .sd-table__cell--action
    ):not(.sd-table__cell--empty.sd-table__cell--error) {
    width: max-content;
  }

  td.sd-table__cell {
    border-top-width: 0px;
  }
} */
