<div id="box-phieu-khao-sat">
  <app-header-client></app-header-client>
  <div id="box-content">
    <div class="b-white">
      <div class="box-header-phieu">
        <div>PHIẾU KHẢO SÁT</div>
        <div>
          KHẢO SÁT NHU CẦU QUẢN LÝ VÀ TRIỂN KHAI TRUY XUẤT NGUỒN GỐC XUẤT XỨ SẢN PHẨM, HÀNG HÓA NGÀNH CÔNG THƯƠNG
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer-client></app-footer-client>
</div>
<p-toast></p-toast>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" (click)="pageTop()">
  <i class="fas fa-angle-up"></i>
</a>