<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <h5>Xác nhận xoá đơn vị</h5>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" class="custom-small-button btn btn-secondary" label="Đóng"
      (click)="cd.reject()">
    </button>
    <button type="button" pButton icon="pi pi-trash" class="custom-small-button" style="background-color: #ea5c5c"
      label="Xóa" (click)="cd.accept()">
    </button>
  </ng-template>
</p-confirmDialog>

<div>
  <h5>Quản lý đơn vị</h5>
  <div class="d-flex mt-3">
    <div>
      <button (click)=" Add()" data-toggle="modal" data-target="#createForm" pButton type="button" icon="pi pi-plus"
        label="Thêm mới" class="custom-button">
      </button>
    </div>
    <div class="ml-3">
      <!-- <button pButton type="button" icon="pi pi-file-import" label="Import" class="custom-button"
        style="background-color: green;">
      </button> -->
    </div>
    <div class="ml-3">
      <button pButton type="button" icon="pi pi-trash" label="Xoá" class="custom-button"
        (click)="confirmDeleteMultiple()" *ngIf="selectedObjectSurvey && selectedObjectSurvey.length > 0"
        style="background-color: #ea5c5c;">
      </button>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
    <div class="form-group mb-2">
      <label for="keyWord" class="sr-only">Search</label>
      <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord" (ngModelChange)="onSubmitSearch()"
        [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
    </div>
    <button type="submit" class="btn btn-primary ml-2 mb-2">
      <i class="pi pi-search"></i>
    </button>
  </form>
</div>

<div class="card mt-3">
  <p-table #dt ngClass="cust-tbl" [value]="datas" [lazy]="true" (onLazyLoad)="loadListLazy($event)" [scrollable]="true"
    scrollHeight="calc(100vh - 396px)" [(selection)]="selectedObjectSurvey" dataKey="id"
    styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [totalRecords]="dataTotalRecords"
    [resizableColumns]="true" currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi"
    [filterDelay]="0">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 60px;text-align: center;">
          STT
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Mã
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Tên đơn vị
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Loại hình đơn vị
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Địa chỉ
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Người đại diện
          </div>
        </th>
        <th style="width: 120px;text-align: center;">
          <div>
            Chức năng
          </div>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td class="text-align align-items-center">
          <span class="p-column-title">STT</span>
          {{ rowIndex + 1}}
        </td>
        <td (click)="detail(rowData)" class="color_Hover">
          <span class="ml-1 vertical-align-middle">{{ rowData.maDonVi }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.tenDonVi }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.tenLoaiHinh }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.diaChi }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.hoTen }}</span>
        </td>
        <td>
          <a (click)="Edit(rowData)" class="m-3">
            <span class="pi pi-pencil" title="Cập nhật" aria-hidden="true">
            </span>
          </a>

          <a class="m-3" (click)="Delete(rowData.id)">
            <span class="pi pi-trash" title="Xoá" style="color: red;" aria-hidden="true">
            </span>
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">Không có bản ghi nào</td>
      </tr>
    </ng-template>
  </p-table>
</div>



<form *ngIf="FormObjectSurvey" [formGroup]="FormObjectSurvey" (ngSubmit)="Save()" method="POST"
  class="card flex justify-content-center">
  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '77vw' }" [draggable]="false" [resizable]="false">
    <p-header>
      <h5 class="modal-title">{{ modalTitle }}</h5>
    </p-header>
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h6>Thông tin đơn vị </h6>
        <div class="row">
          <div class="col-6 form-group">
            <label for="MaDonVi" class="col-form-label">Mã đơn vị: <span style="color: red;">*</span></label>
            <input type="text" formControlName="MaDonVi" pInputText class="form-control" id="MaDonVi">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['MaDonVi'].valid && 
            FormObjectSurvey.controls['MaDonVi'].dirty && !checkBtnDetail">
              Vui lòng nhập mã đơn vị
            </small>
          </div>
          <div class="col-6 form-group">
            <label for="TenDonVi" class="col-form-label">Tên đơn vị: <span style="color: red;">*</span></label>
            <input type="text" formControlName="TenDonVi" pInputText class="form-control" id="TenDonVi">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['TenDonVi'].valid && 
            FormObjectSurvey.controls['TenDonVi'].dirty && !checkBtnDetail">
              Vui lòng nhập tên đơn vị
            </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="loaihinhdonvi" class="col-form-label">Loại hình đơn vị: <span
                style="color: red;">*</span></label>
            <p-dropdown id="loaicauhoi" [options]="listloaihinhdonvi" optionLabel="tenLoaiHinh" optionValue="id"
              [filter]="true" filterBy="tenLoaiHinh" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Chọn loại hình đơn vị --" formControlName="IdLoaiHinh">
            </p-dropdown>
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['IdLoaiHinh'].valid && 
              FormObjectSurvey.controls['IdLoaiHinh'].dirty && !checkBtnDetail">
              Vui lòng chọn loại hình
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="IdLinhVuc" class="col-form-label">Lĩnh vực hoạt động: </label>
            <p-dropdown id="IdLinhVuc" [options]="listlinhvuchoatdong" optionLabel="tenLinhVuc" optionValue="id"
              [filter]="true" filterBy="tenLinhVuc" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Chọn Lĩnh vực hoạt động --" formControlName="IdLinhVuc">
            </p-dropdown>
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['IdLinhVuc'].valid && 
              FormObjectSurvey.controls['IdLinhVuc'].dirty && !checkBtnDetail">
              Vui lòng chọn Lĩnh vực hoạt động
            </small>
          </div>

          <div class="form-group col-md-6">
            <label for="sothue" class="col-form-label">Mã số thuế: </label>
            <input formControlName="MaSoThue" type="text" pInputText class="form-control" id="sothue">

          </div>
          <div class="form-group col-md-6">
            <label for="Website" class="col-form-label">Website:</label>
            <input formControlName="WebSite" type="text" pInputText class="form-control" id="Website">
          </div>
          <div class="form-group col-md-6">
            <label for="Email" class="col-form-label">Email: <span style="color: red;">*</span></label>
            <input formControlName="Email" type="text" pInputText class="form-control" id="Email">
            <small style="color: #e24c4c;" class="ml-2"
              *ngIf="!FormObjectSurvey.controls['Email'].valid && FormObjectSurvey.controls['Email']?.errors?.['required'] && FormObjectSurvey.controls['Email'].dirty && !checkBtnDetail">
              Vui lòng nhập email
            </small>
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['Email'].valid && FormObjectSurvey.controls['Email'].dirty &&
               FormObjectSurvey.controls['Email']?.errors?.['email'] && !checkBtnDetail">
               Email không đúng định dạng
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="sdt" class="col-form-label">Số điện thoại: <span style="color: red;">*</span></label>
            <input formControlName="SoDienThoai" type="text" pInputText class="form-control" id="sdt">

            <small style="color: #e24c4c;" class="ml-2"
              *ngIf="FormObjectSurvey.controls['SoDienThoai'].hasError('pattern') && FormObjectSurvey.controls['SoDienThoai'].hasError('pattern') && !checkBtnDetail">
              Vui lòng nhập Số điện thoại
            </small>

          </div>
        </div>
        <div class="row">
          <label class="col-form-label">Địa chỉ: <span style="color: red;">*</span></label>
          <div class="form-group col-md-3">
            <p-dropdown [options]="cities" [(ngModel)]="selectedTinh" optionLabel="name" optionValue="code"
              [filter]="true" filterBy="name" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Tỉnh thành phố --" formControlName="CodeTinhTp" (onChange)="onCityChange()">
            </p-dropdown>
          </div>
          <div class="form-group col-md-3">
            <p-dropdown [options]="districts" [(ngModel)]="selectedQuanHuyen" optionLabel="name" optionValue="code"
              [filter]="true" filterBy="name" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Quận huyện --" formControlName="CodeQuanHuyen" (onChange)="onDistrictChange()">
            </p-dropdown>
          </div>
          <div class="form-group col-md-3">
            <p-dropdown [options]="wards" [(ngModel)]="selectedPhuongXa" optionLabel="name" optionValue="code"
              [filter]="true" filterBy="name" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Phường xã --" formControlName="CodeXaPhuong">
            </p-dropdown>
          </div>
          <div class="form-group col-md-3">
            <input type="text" formControlName="DiaChi" class="form-control" pInputText id="sdt"
              placeholder="Nhập địa chỉ chi tiết">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['DiaChi'].valid && 
                FormObjectSurvey.controls['DiaChi'].dirty && !checkBtnDetail">
              Vui lòng nhập Địa chỉ
            </small>
          </div>
        </div>
        <hr>
        <h6>Thông tin người đại diện </h6>
        <div class="row" *ngIf="FormRepresentative" [formGroup]="FormRepresentative">
          <div class="form-group col-md-6">
            <label for="HoTen" class="col-form-label">Họ tên: <span style="color: red;">*</span></label>
            <input formControlName="HoTen" type="text" pInputText class="form-control" id="HoTen">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['HoTen'].valid && 
              FormRepresentative.controls['HoTen'].dirty && !checkBtnDetail">
              Vui lòng nhập Họ tên
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="chucvu" class="col-form-label">Chức vụ: <span style="color: red;">*</span></label>
            <input formControlName="ChucVu" type="text" pInputText class="form-control" id="chucvu">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['ChucVu'].valid && 
              FormRepresentative.controls['ChucVu'].dirty && !checkBtnDetail">
              Vui lòng nhập Chức vụ
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="Email" class="col-form-label">Email: <span style="color: red;">*</span></label>
            <input formControlName="Email" type="text" pInputText class="form-control" id="Email">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['Email'].valid && 
            FormObjectSurvey.controls['Email']?.errors?.['required'] &&
              FormRepresentative.controls['Email'].dirty && !checkBtnDetail">
              Vui lòng nhập Email
            </small>
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['Email'].valid && 
            FormObjectSurvey.controls['Email']?.errors?.['email'] &&
              FormRepresentative.controls['Email'].dirty && !checkBtnDetail">
              Email không đúng định dạng
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="sdt" class="col-form-label">Số điện thoại: <span style="color: red;">*</span></label>
            <input formControlName="SoDienThoai" pInputText type="text" class="form-control" id="sdt">

            <small style="color: #e24c4c;" class="ml-2"
              *ngIf="!FormObjectSurvey.controls['SoDienThoai'].hasError('pattern') && FormObjectSurvey.controls['SoDienThoai'].hasError('pattern') && !checkBtnDetail">
              Vui lòng nhập Số điện thoại
            </small>
          </div>
          <div class="form-group col-md-12">
            <textarea formControlName="MoTa" name="" pInputTextarea id="" rows="5" class="w-100"
              placeholder="Nhập mô tả"></textarea>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <button pButton (click)="visible = false" type="button" label="Đóng" class="custom-button surface-600"></button>
      <button pButton *ngIf="!checkBtnDetail" [disabled]="!FormObjectSurvey.valid && !FormRepresentative.valid"
        type="submit" icon="pi pi-save" label="Lưu" class="custom-button"></button>
    </p-footer>
  </p-dialog>
</form>