<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <h5>Xác nhận xoá đơn vị</h5>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" class="custom-small-button btn btn-secondary" label="Đóng"
      (click)="cd.reject()">
    </button>
    <button type="button" pButton icon="pi pi-trash" class="custom-small-button" style="background-color: #ea5c5c"
      label="Xóa" (click)="cd.accept()">
    </button>
  </ng-template>
</p-confirmDialog>

<div>
  <h5>Quản lý đơn vị</h5>
  <div class="d-flex mt-3">
    <div>
      <button (click)=" Add()" data-toggle="modal" data-target="#createForm" pButton type="button" icon="pi pi-plus"
        label="Thêm mới" class="custom-button">
      </button>
    </div>
    <div class="ml-3">
      <button pButton type="button" icon="pi pi-file-import" label="Import" class="custom-button"
        style="background-color: green;">
      </button>
    </div>
    <div class="ml-3">
      <button pButton type="button" icon="pi pi-trash" label="Xoá" class="custom-button"
        *ngIf="selectedObjectSurvey && selectedObjectSurvey.length > 0" style="background-color: #ea5c5c;">
      </button>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
    <div class="form-group mb-2">
      <label for="keyWord" class="sr-only">Search</label>
      <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord"
        [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
    </div>
    <button type="submit" class="btn btn-primary ml-2 mb-2">
      <i class="pi pi-search"></i>
    </button>
  </form>
</div>

<div class="card mt-3">
  <p-table #dt ngClass="cust-tbl" [value]="datas" [lazy]="true" (onLazyLoad)="loadListLazy($event)" [scrollable]="true"
    scrollHeight="calc(100vh - 396px)" [(selection)]="selectedObjectSurvey" dataKey="id"
    styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [totalRecords]="dataTotalRecords"
    [resizableColumns]="true" currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi"
    [filterDelay]="0">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 60px;text-align: center;">
          STT
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Mã
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Tên đơn vị
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Loại hình đơn vị
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Địa chỉ
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Người đại diện
          </div>
        </th>
        <th style="width: 120px;text-align: center;">
          <div>
            Chức năng
          </div>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td class="text-align align-items-center">
          <span class="p-column-title">STT</span>
          {{ rowIndex + 1}}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.maDonVi }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.tenDonVi }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.tenLoaiHinh }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.diaChi }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.hoTen }}</span>
        </td>
        <td>
          <a (click)="Edit(rowData)" class="m-3">
            <span class="pi pi-pencil" title="Cập nhật" aria-hidden="true">
            </span>
          </a>

          <a class="m-3" (click)="Delete(rowData.id)">
            <span class="pi pi-trash" title="Xoá" style="color: red;" aria-hidden="true">
            </span>
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">Không có bản ghi nào</td>
      </tr>
    </ng-template>
  </p-table>
</div>



<form *ngIf="FormObjectSurvey" [formGroup]="FormObjectSurvey" (ngSubmit)="Save()" method="POST"
  class="card flex justify-content-center">
  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '77vw' }" [draggable]="false" [resizable]="false">
    <p-header>
      <h5 class="modal-title" id="exampleModalLabel" *ngIf="showadd">Thêm mới đơn vị</h5>
      <h5 class="modal-title" id="exampleModalLabel" *ngIf="!showadd">Cập nhật đơn vị</h5>
    </p-header>
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h6>Thông tin đơn vị </h6>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Tên đơn vị: <span style="color: red;">*</span></label>
          <input type="text" formControlName="TenDonVi" pInputText class="form-control" id="recipient-name">
        </div>
        <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['TenDonVi'].valid && 
            FormObjectSurvey.controls['TenDonVi'].dirty">
          Vui lòng nhập tên đơn vị
        </small>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="loaihinhdonvi" class="col-form-label">Loại hình đơn vị: <span
                style="color: red;">*</span></label>
            <p-dropdown id="loaicauhoi" [options]="listloaihinhdonvi" optionLabel="tenLoaiHinh" optionValue="id"
              [filter]="true" filterBy="tenLoaiHinh" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Chọn loại hình đơn vị --" formControlName="IdLoaiHinh">
            </p-dropdown>
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['IdLoaiHinh'].valid && 
              FormObjectSurvey.controls['IdLoaiHinh'].dirty">
              Vui lòng chọn loại hình
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="IdLinhVuc" class="col-form-label">Lĩnh vực hoạt động: </label>
            <p-dropdown id="IdLinhVuc" [options]="listlinhvuchoatdong" optionLabel="tenLinhVuc" optionValue="id"
              [filter]="true" filterBy="tenLinhVuc" emptyMessage="Không có kết quả nào"
              emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
              placeholder="-- Chọn Lĩnh vực hoạt động --" formControlName="IdLinhVuc">
            </p-dropdown>
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['IdLinhVuc'].valid && 
              FormObjectSurvey.controls['IdLinhVuc'].dirty">
              Vui lòng chọn Lĩnh vực hoạt động
            </small>
          </div>

          <div class="form-group col-md-6">
            <label for="sothue" class="col-form-label">Mã số thuế: </label>
            <input formControlName="MaSoThue" type="text" pInputText class="form-control" id="sothue">

            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['MaSoThue'].valid && 
              FormObjectSurvey.controls['MaSoThue'].dirty">
              Vui lòng nhập mã số thuế
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="Website" class="col-form-label">Website:</label>
            <input formControlName="WebSite" type="text" pInputText class="form-control" id="Website">

            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['WebSite'].valid && 
              FormObjectSurvey.controls['WebSite'].dirty">
              Vui lòng nhập Website
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="Email" class="col-form-label">Email: <span style="color: red;">*</span></label>
            <input formControlName="Email" type="text" pInputText class="form-control" id="Email">
            <small style="color: #e24c4c;" class="ml-2"
              *ngIf="!FormObjectSurvey.controls['Email'].valid && FormObjectSurvey.controls['Email'].dirty">
              Vui lòng nhập email
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="sdt" class="col-form-label">Số điện thoại: <span style="color: red;">*</span></label>
            <input formControlName="SoDienThoai" type="text" pInputText class="form-control" id="sdt">

            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['SoDienThoai'].valid && 
              FormObjectSurvey.controls['SoDienThoai'].dirty">
              Vui lòng nhập Số điện thoại
            </small>
          </div>
        </div>
        <div class="row">
          <label for="loaihinhdonvi" class="col-form-label">Địa chỉ: <span style="color: red;">*</span></label>
          <div class="form-group col-md-3">
            <select class="custom-select" id="loaihinhdonvi" (change)="onCityChange($event)">
              <option selected value="">Chọn Tỉnh/ Thành phố</option>
              <option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select class="custom-select" id="loaihinhdonvi" (change)="onDistrictChange($event)">
              <option selected value="">Chọn Quận/ huyện</option>
              <option *ngFor="let district of districts" [value]="district.Id">{{ district.Name }}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select class="custom-select" id="loaihinhdonvi">
              <option selected value="">Chọn Phường/ Xã</option>
              <option *ngFor="let ward of wards" [value]="ward.Id">{{ ward.Name }}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <input type="text" formControlName="DiaChi" class="form-control" pInputText id="sdt"
              placeholder="Nhập địa chỉ chi tiết">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormObjectSurvey.controls['DiaChi'].valid && 
                FormObjectSurvey.controls['DiaChi'].dirty">
              Vui lòng nhập Địa chỉ
            </small>
          </div>
        </div>
        <hr>
        <h6>Thông tin người đại diện </h6>
        <div class="row" *ngIf="FormRepresentative" [formGroup]="FormRepresentative">
          <div class="form-group col-md-6">
            <label for="HoTen" class="col-form-label">Họ tên: <span style="color: red;">*</span></label>
            <input formControlName="HoTen" type="text" pInputText class="form-control" id="HoTen">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['HoTen'].valid && 
              FormRepresentative.controls['HoTen'].dirty">
              Vui lòng nhập Họ tên
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="chucvu" class="col-form-label">Chức vụ: <span style="color: red;">*</span></label>
            <input formControlName="ChucVu" type="text" pInputText class="form-control" id="chucvu">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['ChucVu'].valid && 
              FormRepresentative.controls['ChucVu'].dirty">
              Vui lòng nhập Chức vụ
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="Email" class="col-form-label">Email: <span style="color: red;">*</span></label>
            <input formControlName="Email" type="text" pInputText class="form-control" id="Email">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['Email'].valid && 
              FormRepresentative.controls['Email'].dirty">
              Vui lòng nhập Email
            </small>
          </div>
          <div class="form-group col-md-6">
            <label for="sdt" class="col-form-label">Số điện thoại: <span style="color: red;">*</span></label>
            <input formControlName="SoDienThoai" pInputText type="text" class="form-control" id="sdt">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormRepresentative.controls['SoDienThoai'].valid && 
                FormRepresentative.controls['SoDienThoai'].dirty">
              Vui lòng nhập Số điện thoại
            </small>
          </div>
          <div class="form-group col-md-12">
            <textarea formControlName="MoTa" name="" pInputTextarea id="" rows="5" class="w-100"
              placeholder="Nhập mô tả"></textarea>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <button pButton (click)="visible = false" type="button" label="Đóng" class="custom-button surface-600"></button>
      <button pButton [disabled]="!FormObjectSurvey.valid && !FormRepresentative.valid" type="submit" icon="pi pi-save"
        label="Lưu" class="custom-button"></button>
    </p-footer>
  </p-dialog>
</form>