<p-confirmDialog #cd [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h5>Xác nhận xoá loại hình đơn vị</h5>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" class="custom-small-button btn btn-secondary" label="Đóng"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-trash" class="custom-small-button" style="background-color: #ea5c5c"
            label="Xóa" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<div>
    <h5>Danh sách bảng khảo sát</h5>
    <div class="d-flex mt-3">
        <div>
            <button (click)="Add()" pButton type="button" icon="pi pi-plus" label="Thêm mới"
                class="custom-button"></button>
        </div>
        <div class="ml-3">
            <button pButton type="button" icon="pi pi-trash" label="Xoá" class="custom-button"
                style="background-color: #ea5c5c;"></button>
        </div>
    </div>
    <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
        <div class="form-group mb-2">
            <label for="keyWord" class="sr-only">Search</label>
            <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord"
                [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
        </div>
        <button type="submit" class="btn btn-primary ml-2 mb-2">
            <i class="pi pi-search"></i>
        </button>
    </form>
</div>
<div class="card mt-3">
    <p-table #dt [value]="datas" [lazy]="true" (onLazyLoad)="loadListLazy($event)" [scrollable]="true"
        scrollHeight="calc(100vh - 396px)" [(selection)]="selectedTableSurvey" dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        [totalRecords]="dataTotalRecords"
        currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width: 0rem">
                    STT
                </th>
                <th style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Mã bảng khảo sát<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 16rem">
                    <div class="flex justify-content-between align-items-center">
                        Tên bảng khảo sát<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 16rem">
                    <div class="flex justify-content-between align-items-center">
                        Đợt khảo sát<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 16rem">
                    <div class="flex justify-content-between align-items-center">
                        Loại hình đơn vị khảo sát<div type="text" field="country.name" display="menu" class="ml-auto">
                        </div>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Mô tả<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Thời gian<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Trạng thái gửi email<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Trạng thái khảo sát<div type="text" field="country.name" display="menu" class="ml-auto"></div>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div>
                        Chức năng
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr class="p-selectable-row">

                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>
                    <span class="p-column-title">STT</span>
                    {{ rowIndex + 1}}
                </td>

                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.maBangKhaoSat }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.tenBangKhaoSat }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.maDotKhaoSat }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.maLoaiHinh }}</span>
                </td>

                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.moTa }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.ngayBatDau| date:'dd/MM/yyyy' }}-{{
                        rowData.ngayKetThuc| date:'dd/MM/yyyy' }}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle"></span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{ rowData.trangThai }}</span>
                </td>
                <td>
                    <a class="m-3"><span (click)="Edit(rowData)" class="pi pi-pencil" title="Cập nhật"
                            aria-hidden="true"></span></a>

                    <a class="m-3"><span class="pi pi-trash" title="Xoá" (click)="Delete(rowData)" style="color: red;"
                            aria-hidden="true"></span></a>
                    <a class="m-3"><span class="pi pi-caret-right" title="Dừng" style="color: rgb(32, 154, 60);"
                            aria-hidden="true"></span></a>
                    <a class="m-3"><span class="pi pi-eye" title="Xem" style="color: rgb(25, 150, 222);"
                            aria-hidden="true"></span></a>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11" class="text-center">Không có bản ghi nào</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<form method="POST" [formGroup]="formTableSurvey" (ngSubmit)="Save()">
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="true"
        [maximizable]="true">
        <ng-template pTemplate="header">
            <h5 class="modal-title">
                {{ showadd === true ? "Thêm mới bảng khảo sát" : "Cập nhật bảng khảo sát" }}
            </h5>
        </ng-template>

        <ng-template pTemplate="body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="maBangKhaoSat" class="col-form-label">Mã bảng: <span
                            style="color: red;">*</span></label>
                    <input formControlName="maBangKhaoSat" type="text" pInputText class="form-control"
                        id="maBangKhaoSat">
                    <p-message severity="error" text="Vui lòng nhập mã bảng"
                         *ngIf="!formTableSurvey.controls['maBangKhaoSat'].valid && formTableSurvey.controls['maBangKhaoSat'].dirty">
                    </p-message>
                </div>
                <div class="form-group col-md-6">
                    <label for="idLoaiHinh" class="col-form-label">Loại hình đơn vị khảo sát </label>
                    <select formControlName="idLoaiHinh" class="custom-select" id="idLoaiHinh">
                        <option value="">Chọn loại hình đơn vị</option>
                        <option *ngFor="let Lh of DSLoaiHinh" [value]="Lh.id">{{Lh.tenLoaiHinh}}</option>
                    </select>
                    <p-message severity="error" text="Vui lòng chọn loại hình đơn vị khảo sát"
                         *ngIf="!formTableSurvey.controls['idLoaiHinh'].valid && formTableSurvey.controls['idLoaiHinh'].dirty">
                    </p-message>
                </div>
                <div class="form-group col-md-12">
                    <label for="tenBangKhaoSat" class="col-form-label">Tên bảng: </label>
                    <input formControlName="tenBangKhaoSat" type="text" pInputText class="form-control"
                        id="tenBangKhaoSat">
                    <p-message severity="error" text="Vui lòng nhập tên bảng"
                         *ngIf="!formTableSurvey.controls['tenBangKhaoSat'].valid && formTableSurvey.controls['tenBangKhaoSat'].dirty">
                    </p-message>
                </div>
                <div class="form-group col-md-12">
                    <label for="idDotKhaoSat" class="col-form-label">Đợt khảo sát:</label>
                    <select formControlName="idDotKhaoSat" class="custom-select" id="idDotKhaoSat">
                        <option value="">Chọn đợt khảo sát</option>
                        <option *ngFor="let Lh of DSDotKhaoSat" [value]="Lh.id">{{Lh.tenDotKhaoSat}}</option>
                    </select>
                    <p-message severity="error" text="Vui lòng chọn đợt khảo sát"
                         *ngIf="!formTableSurvey.controls['idDotKhaoSat'].valid && formTableSurvey.controls['idDotKhaoSat'].dirty">
                    </p-message>
                </div>
                <div class="form-group col-md-12">
                    <label for="moTa" class="col-form-label">Mô tả: <span style="color: red;">*</span></label>
                    <textarea name="" pInputTextarea formControlName="moTa" id="moTa" class="w-100" rows="3"></textarea>
                    <p-message severity="error" text="Vui lòng nhập mô tả"
                         *ngIf="!formTableSurvey.controls['moTa'].valid && formTableSurvey.controls['moTa'].dirty">
                    </p-message>
                </div>
                <div class="form-group col-md-6">
                    <label for="ngayBatDau" class="col-form-label">Ngày bắt đầu: <span
                            style="color: red;">*</span></label>
                    <input type="date" formControlName="ngayBatDau" class="form-control" id="ngayBatDau" pInputText
                        placeholder="Ngày Bắt Đầu">
                    <p-message severity="error" text="Vui lòng chọn ngày bắt đầu"
                         *ngIf="!formTableSurvey.controls['ngayBatDau'].valid && formTableSurvey.controls['ngayBatDau'].dirty">
                    </p-message>
                </div>
                <div class="form-group col-md-6">
                    <label for="ngayKetThuc" class="col-form-label">Ngày kết thúc: <span
                            style="color: red;">*</span></label>
                    <input type="date" formControlName="ngayKetThuc" class="form-control" id="ngayKetThuc" pInputText
                        placeholder="Ngày kết thúc">
                    <p-message severity="error" text="Vui lòng chọn ngày kết thúc"
                         *ngIf="!formTableSurvey.controls['ngayKetThuc'].valid && formTableSurvey.controls['ngayKetThuc'].dirty">
                    </p-message>
                </div>
                <div class="form-group">
                    <label class="col-form-label">
                        Danh sách câu hỏi <span style="color: red;">*</span>
                    </label>
                    <button type="button" class="btn btn-add float-end" (click)="showSialogCh()">
                        Thêm câu hỏi
                    </button>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th style="width: 7rem">Mã câu hỏi</th>
                                <th>Tiêu đề</th>
                                <th>Bắt buộc</th>
                                <th>Chức năng</th>  
                            </tr>
                        </thead>
                        <tbody formArrayName="bangKhaoSatCauHoi">
                            <tr *ngFor="let item of lstBangKhaoSatCauHoi.controls; let i = index" [formGroupName]="i">
                                <td class="text-center">
                                    {{ i + 1 }}
                                    <input formControlName="id" type="hidden" />
                                    <input formControlName="idCauHoi" type="hidden" />
                                    <input formControlName="priority" type="hidden" />
                                </td>
                                <td>
                                    {{item.get('maCauHoi')?.value}}
                                </td>
                                <td>
                                    {{item.get('tieuDeCauHoi')?.value}}
                                </td>
                                <td>
                                    <p-checkbox formControlName="isRequired" [binary]="true"
                                        inputId="isRequired"></p-checkbox>
                                </td>
                                <td>
                                    <div>
                                        <button class="ml-3 btn_delete" type="button" (click)="deleteItem(i)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <input type="hidden" formControlName="id">
            <button pButton (click)="visible = false" type="button" label="Đóng" class="custom-button surface-600"></button>
            <button pButton [disabled]="!formTableSurvey.valid" type="submit" icon="pi pi-save" label="Lưu" class="custom-button"></button>
        </ng-template>
    </p-dialog>
</form>


<p-dialog [(visible)]="visibleCauHoi" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false" [resizable]="true"
    [maximizable]="true">
    <ng-template pTemplate="header">
        <h5 class="modal-title">
            {{ showadd === true ? "Thêm mới bảng khảo sát" : "Cập nhật bảng khảo sát" }}
        </h5>
    </ng-template>

    <ng-template pTemplate="body">
        <form (ngSubmit)="onSubmitSearchCauHoi()" class="form-inline mt-4">
            <div class="form-group mb-2">
                <label for="keyWordCauHoi" class="sr-only">Search</label>
                <input type="search" class="form-control" id="keyWordCauHoi" [(ngModel)]="keyWordCauHoi"
                    [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
            </div>
            <button type="submit" class="btn btn-primary ml-2 mb-2">
                <i class="pi pi-search"></i>
            </button>
        </form>
        <p-table #dtq [value]="datasCauHoi" [lazy]="true" (onLazyLoad)="loadListLazyCauHoi($event)" [scrollable]="true"
            scrollHeight="calc(100vh - 396px)" [(selection)]="selectedCauHoi" dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loadingCauHoi"
            [paginator]="true" [totalRecords]="dataTotalRecordsCauHoi"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="min-width: 0rem">
                        STT
                    </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Mã
                        </div>
                    </th>
                    <th style="min-width: 16rem">
                        <div class="flex justify-content-between align-items-center">
                            Tiêu đề
                        </div>
                    </th>
                    <th style="min-width: 16rem">
                        <div class="flex justify-content-between align-items-center">
                            Loại câu hỏi
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr class="p-selectable-row">
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td>
                        <span class="p-column-title">STT</span>
                        {{ rowIndex + 1}}
                    </td>

                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.maCauHoi }}</span>
                    </td>

                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.tieuDe }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.loaiCauHoiText }}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" class="text-center">Không có bản ghi nào</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>

    <ng-template pTemplate="footer">
        <input type="hidden" formControlName="id">
        <button type="button" class="btn btn-secondary" (click)="visibleCauHoi = false">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="addItem()">Xác nhận</button>
    </ng-template>
</p-dialog>