<p-confirmDialog #cd [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h5>{{confirmationHeader}}</h5>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" class="custom-small-button btn btn-secondary" label="Đóng"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" class="custom-small-button ui-button"
            style="background-color: #ea5c5c" label="Xác nhận" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<div>
    <h5>Danh sách bảng khảo sát</h5>
    <div class="d-flex mt-3">
        <div>
            <button (click)="Add()" pButton type="button" icon="pi pi-plus" label="Thêm mới"
                class="custom-button"></button>
        </div>
        <div class="ml-3">
            <button *ngIf="selectedTableSurvey && selectedTableSurvey.length > 0 && selectedTableSurvey.length != null" pButton type="button"
                (click)="confirmDeleteMultiple()" icon="pi pi-trash" label="Xoá" class="custom-button"
                style="background-color: #ea5c5c;"></button>
        </div>
        <div class="ml-3">
            <button *ngIf="selectedTableSurvey && selectedTableSurvey.length > 0" pButton type="button"
                icon="pi pi-envelope" label="Gửi Email" class="custom-button" style="background-color: #eec24a;"
                (click)="openGuiEmail()">
            </button>
        </div>
    </div>
    <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
        <div class="form-group mb-2">
            <label for="keyWord" class="sr-only">Search</label>
            <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord"
                [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
        </div>
        <button type="submit" class="btn btn-primary ml-2 mb-2">
            <i class="pi pi-search"></i>
        </button>
    </form>
</div>

<div class="card mt-3">
        <p-table #dt ngClass="cust-tbl" [value]="datas"  [lazy]="true" (onLazyLoad)="loadListLazy($event)"
            [scrollable]="true" scrollHeight="calc(100vh - 396px)" [(selection)]="selectedTableSurvey" dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            [totalRecords]="dataTotalRecords" [resizableColumns]="true"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0"
            
            [globalFilterFields]="['maBangKhaoSat', 'tenBangKhaoSat' ,'tenDotKhaoSat' ,'tenLoaiHinh',]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 40px;">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 60px;text-align: center;">
                        STT
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Mã bảng khảo sát
                            <p-columnFilter type="text" field="maBangKhaoSat" display="menu"[showOperator]="false"[showAddButton]="false" [showMatchModes]="false"></p-columnFilter>
                        </div>
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Tên bảng khảo sát      
                            <p-columnFilter type="text" field="tenBangKhaoSat"display="menu"[showOperator]="false"[showAddButton]="false" [showMatchModes]="false"></p-columnFilter>                           
                        </div>
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Đợt khảo sát          
                            <p-columnFilter type="text" field="tenDotKhaoSat" display="menu"[showOperator]="false"[showAddButton]="false" [showMatchModes]="false"></p-columnFilter>                
                        </div>
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Loại hình đơn vị khảo sát      
                            <p-columnFilter type="text" field="tenLoaiHinh"display="menu"[showOperator]="false"[showAddButton]="false" [showMatchModes]="false"></p-columnFilter>                      
                        </div>
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Thời gian                       
                            <!-- <p-columnFilter type="text" field="thoigian" display="menu"[showOperator]="false"[showAddButton]="false" [showMatchModes]="false"></p-columnFilter>   -->
                        </div>
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Trạng thái khảo sát    
                            <!-- <p-columnFilter type="text" field="trangThai"display="menu"[showOperator]="false"[showAddButton]="false" [showMatchModes]="false"></p-columnFilter>                        -->
                        </div>
                    </th>
                    <th style="width: 120px;text-align: center;">
                        <div>
                            Chức năng
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr class="p-selectable-row">
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td class="text-center">
                        <span class="p-column-title">STT</span>
                        {{ rowIndex + 1}}
                    </td>
                    <td class="color_Hover" (click)="detail(rowData)">
                        <span class="ml-1 vertical-align-middle">{{ rowData.maBangKhaoSat }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.tenBangKhaoSat }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.tenDotKhaoSat }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.tenLoaiHinh }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.ngayBatDau| date:'dd/MM/yyyy' }} - {{
                            rowData.ngayKetThuc| date:'dd/MM/yyyy' }}</span>
                    </td>
                    <td>
                        <ng-container *ngIf="rowData.trangThai === 2">
                            <a style="color: green;;text-decoration: none">Hoàn Thành</a>
                        </ng-container>
                        <ng-container *ngIf="rowData.trangThai === 1 ">
                            <a style="color: rgb(218, 159, 82);text-decoration: none">Đang Khảo Sát</a>
                        </ng-container>
                        <ng-container *ngIf="rowData.trangThai === 3 ">
                            <a style="color: #e24c4c;text-decoration: none">Tạm Dừng</a>
                        </ng-container>
                        <ng-container *ngIf="rowData.trangThai === 0 ">
                            <a style="color: rgb(84, 84, 226);text-decoration: none">Chờ Khảo Sát</a>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="rowData.trangThai == 0">
                            <a class="m-2" (click)="detailTableSurvey(rowData)" style="pointer-events: none;opacity: 0.3;">
                                <span class="pi pi-eye " title="Xem" aria-hidden="true"></span>
                            </a>
                            <a class="m-2" (click)="Edit(rowData)">
                                <span class="pi pi-pencil " title="Cập nhật" aria-hidden="true"></span>
                            </a>
                            <a class="m-2" (click)="Delete(rowData)">
                                <span class="pi pi-trash " title="Xoá" style="color: red;" aria-hidden="true"></span>
                            </a>
                        </ng-container>

                        <!-- <ng-container *ngIf="rowData.trangThai == 0 || rowData.trangThai == 3">
                            <a class="m-2" (click)="Delete(rowData)">
                                <span class="pi pi-trash " title="Xoá" style="color: red;" aria-hidden="true"></span>
                            </a>
                        </ng-container> -->

                        <!-- <ng-container *ngIf="rowData.trangThai == 3">
                            <a class="m-2" (click)="ToggleStatus(rowData)">
                                <span class="pi pi-caret-right " title="Tiếp tục" style="color: rgb(32, 154, 60);"
                                    aria-hidden="true"></span>
                            </a>
                        </ng-container> -->

                        <!-- <ng-container *ngIf="rowData.trangThai == 1">
                            <a class="m-2" (click)="ToggleStatus(rowData)">
                                <span class="pi pi-pause " title="Dừng" style="color: rgb(212, 22, 22);"
                                    aria-hidden="true"></span>
                            </a>
                        </ng-container> -->

                        <ng-container *ngIf="rowData.trangThai == 1 || rowData.trangThai == 2 || rowData.trangThai == 3">
                            <a class="m-2" (click)="detailTableSurvey(rowData)">
                                <span class="pi pi-eye " title="Xem" aria-hidden="true"></span>
                            </a>
                            <a class="m-2" (click)="Edit(rowData)" style="pointer-events: none;opacity: 0.3;">
                                <span class="pi pi-pencil " title="Cập nhật" aria-hidden="true"></span>
                            </a>
                            <a class="m-2" (click)="Delete(rowData)" style="pointer-events: none;opacity: 0.3;">
                                <span class="pi pi-trash " title="Xoá" style="color: red;" aria-hidden="true"></span>
                            </a>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="10" class="text-center">Không có bản ghi nào</td>
                </tr>
            </ng-template>
        </p-table>
</div>

<form *ngIf="formTableSurvey" [formGroup]="formTableSurvey" (ngSubmit)="Save()">
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '65vw' }" [draggable]="false" [resizable]="true"
        [maximizable]="true">
        <ng-template pTemplate="header">
            <h5 class="modal-title">
                {{ modalTitle }}
            </h5>
        </ng-template>

        <ng-template pTemplate="body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="maBangKhaoSat" class="col-form-label">Mã bảng: <span
                            style="color: red;">*</span></label>
                    <input formControlName="maBangKhaoSat" type="text" class="form-control" id="maBangKhaoSat">

                    <!-- <small  style="color: #e24c4c;" class="ml-2" *ngIf="!formTableSurvey.controls['maBangKhaoSat'].valid && 
                        formTableSurvey.controls['maBangKhaoSat'].dirty && !checkBtnDetail == true ">
                        Vui lòng nhập mã bảng
                    </small> -->
                   
                </div>
                <div class="form-group col-md-6">
                    <label for="idLoaiHinh" class="col-form-label">Loại hình đơn vị khảo sát: <span
                            style="color: red">*</span> </label>
                    <p-dropdown id="idLoaiHinh" [options]="DSLoaiHinh" [(ngModel)]="selectedLoaiHinh" optionLabel="tenLoaiHinh" optionValue="id"
                        [filter]="true" filterBy="tenLoaiHinh" emptyMessage="Không có kết quả nào"
                        emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
                        placeholder="-- Chọn loại hình đơn vị --" formControlName="idLoaiHinh" appendTo="body" (onChange)="LoadPeriodSurvey()">
                    </p-dropdown>

                    <small style="color: #e24c4c;" class="ml-2" *ngIf="!formTableSurvey.controls['idLoaiHinh'].valid && 
                        formTableSurvey.controls['idLoaiHinh'].dirty && !checkBtnDetail == true">
                        Vui lòng chọn loại hình đơn vị khảo sát
                    </small>
                </div>
                <div class="form-group col-md-12">
                    <label for="tenBangKhaoSat" class="col-form-label">Tên bảng: <span style="color: red">*</span>
                    </label>
                    <input formControlName="tenBangKhaoSat" type="text" pInputText class="form-control"
                        placeholder="Nhập tên bảng" id="tenBangKhaoSat">


                    <small style="color: #e24c4c;" class="ml-2" *ngIf="!formTableSurvey.controls['tenBangKhaoSat'].valid && 
                    formTableSurvey.controls['tenBangKhaoSat'].dirty && !checkBtnDetail == true">
                        Vui lòng nhập tên bảng
                    </small>
                </div>
                <div class="form-group col-md-12">
                    <label for="idDotKhaoSat" class="col-form-label">Đợt khảo sát: <span
                            style="color: red">*</span></label>
                    <p-dropdown id="idDotKhaoSat" [options]="DSDotKhaoSat" optionLabel="tenDotKhaoSat" optionValue="id"
                        [filter]="true" filterBy="tenDotKhaoSat" emptyMessage="Không có kết quả nào"
                        emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
                        placeholder="-- Chọn đợt khảo sát --" formControlName="idDotKhaoSat" appendTo="body">
                    </p-dropdown>

                    <small style="color: #e24c4c;" class="ml-2" *ngIf="!formTableSurvey.controls['idDotKhaoSat'].valid && 
                    formTableSurvey.controls['idDotKhaoSat'].dirty && !checkBtnDetail == true">
                        Vui lòng chọn đợt khảo sát
                    </small>

                </div>
                <div class="form-group col-md-12">
                    <label for="moTa" class="col-form-label">Mô tả: </label>
                    <textarea name="" pInputTextarea formControlName="moTa" id="moTa" class="w-100" rows="3"
                        placeholder="Nhập mô tả"></textarea>

                </div>
                <div class="form-group col-md-6">
                    <label for="ngayBatDau" class="col-form-label">Ngày bắt đầu: <span
                            style="color: red;">*</span></label>
                    <p-calendar formControlName="ngayBatDau" id="ngayBatDau" appendTo="body" dateFormat="dd/mm/yy"
                        [showIcon]="true" class="input-date-custom"></p-calendar>

                    <small style="color: #e24c4c;" class="ml-2" *ngIf="!formTableSurvey.controls['ngayBatDau'].valid && 
                        formTableSurvey.controls['ngayBatDau'].dirty && !checkBtnDetail == true">
                        Vui lòng nhập ngày bắt đầu
                    </small>
                    <small style="color: #e24c4c;" class="ml-2" *ngIf="formTableSurvey.hasError('dateRangeError')">
                        Ngày bắt đầu phải nhỏ hơn ngày kết thúc
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="ngayKetThuc" class="col-form-label">Ngày kết thúc: <span
                            style="color: red;">*</span></label>
                    <p-calendar formControlName="ngayKetThuc" id="ngayKetThuc" appendTo="body" dateFormat="dd/mm/yy"
                        [showIcon]="true" class="input-date-custom"[minDate]="currentDate"></p-calendar>

                    <small style="color: #e24c4c;" class="ml-2" *ngIf="!formTableSurvey.controls['ngayKetThuc'].valid && 
                        formTableSurvey.controls['ngayKetThuc'].dirty && !checkBtnDetail == true">
                        Vui lòng nhập ngày kết thúc
                    </small>
                </div>
                <div class="form-group">
                    <label class="col-form-label">
                        Danh sách câu hỏi <span style="color: red;">*</span>
                    </label>
                    <button type="button" class="btn btn-add float-end custom-button mb-3" (click)="addGroup()"
                        style="background-color: #4e73df;color: white;"*ngIf="!checkBtnDetail == true">
                        Thêm nhóm
                    </button>
                    <div class="mt-3" *ngIf="!lstBangKhaoSatCauHoiGroup|| lstBangKhaoSatCauHoiGroup.length===0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 60px;text-align: center;">STT</th>
                                    <th style="width: 8rem">Mã câu hỏi</th>
                                    <th>Tiêu đề</th>
                                    <th style="width: 7rem">Bắt buộc</th>
                                    <th style="width: 120px;text-align: center;"*ngIf="!checkBtnDetail == true">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="bangKhaoSatCauHoi">
                                <!-- Dòng trống sẽ được hiển thị khi không có dữ liệu -->
                                <tr
                                    *ngIf="!lstBangKhaoSatCauHoi.controls || lstBangKhaoSatCauHoi.controls.length === 0 && !checkBtnDetail == true">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="5" class="text-center">
                                        <span class="pi pi-plus " title="Thêm" (click)="showSialogCh()"
                                            style="color:green; cursor: pointer;" aria-hidden="true"></span>
                                    </td>
                                </tr>
                                <!-- Dữ liệu câu hỏi -->
                                <tr *ngFor="let item of lstBangKhaoSatCauHoi.controls; let i = index"
                                    [formGroupName]="i">
                                    <td class="text-center align-items-center">
                                        {{ i + 1 }}
                                        <input formControlName="id" type="hidden" />
                                        <input formControlName="idCauHoi" type="hidden" />
                                        <input formControlName="priority" type="hidden" />
                                    </td>
                                    <td>
                                        {{item.get('maCauHoi')?.value}}
                                    </td>
                                    <td>
                                        {{item.get('tieuDe')?.value}}
                                    </td>
                                    <td class="text-center">
                                        <p-inputSwitch formControlName="isRequired"></p-inputSwitch>
                                    </td>
                                    <td class="vertical-align-middle text-center"
                                        style="display: flex;justify-content: center;text-decoration: none;"*ngIf="!checkBtnDetail == true">

                                        <span class="pi pi-plus m-2" title="Thêm" (click)="showSialogCh()"
                                            style="color:green; cursor: pointer;" aria-hidden="true"></span>

                                        <span class="pi pi-trash m-2 " title="Xoá" (click)="deleteItem(i)"
                                            style="color: red; cursor: pointer;" aria-hidden="true"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div formArrayName="bangKhaoSatCauHoiGroup">
                        <ng-container
                            *ngFor="let itemPanelTitle of lstBangKhaoSatCauHoiGroup.controls; let iPanelTitle = index"
                            [formGroupName]="iPanelTitle">
                            <div class="mt-3" style="border: 1px solid #e3e6f0;padding: 1rem;">
                                <div class="form-inline">
                                    <label class="col-form-label mb-2 mr-sm-2">
                                        Tên nhóm <span style="color: red;">*</span>
                                    </label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="groupName"
                                        placeholder="Tên nhóm" style="width: calc(100% - 220px);"
                                        formControlName="panelTitle" [readOnly]="reon">
                                    <button type="button" class="btn mb-2" (click)="deleteGroup(iPanelTitle)"
                                        style="background-color: red; color: white;"*ngIf="!checkBtnDetail == true">
                                        <span class="pi pi-trash" style="color: white; cursor: pointer;"></span> Xóa
                                        nhóm</button>
                                </div>
                                <small style="color: #e24c4c; margin-left: 6.5em;"
                                    *ngIf="!itemPanelTitle.valid && itemPanelTitle.dirty && !checkBtnDetail == true">
                                    Vui lòng nhập tên nhóm
                                </small>
                                <div class="mt-3 pl-3 pr-3">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 60px;text-align: center;">STT</th>
                                                <th style="width: 8rem">Mã câu hỏi</th>
                                                <th>Tiêu đề</th>
                                                <th style="width: 7rem">Bắt buộc</th>
                                                <th style="width: 120px;text-align: center;"*ngIf="!checkBtnDetail == true">Chức năng</th>
                                            </tr>
                                        </thead>

                                        <tbody formArrayName="bangKhaoSatCauHoi">
                                            <!-- Dòng trống sẽ được hiển thị khi không có dữ liệu -->
                                            <tr
                                                *ngIf="!lstBangKhaoSatCauHoiGroupItem(iPanelTitle).controls || lstBangKhaoSatCauHoiGroupItem(iPanelTitle).controls.length === 0">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="5" class="text-center">
                                                    <span class="pi pi-plus " title="Thêm"
                                                        (click)="showGroupDialogCh(iPanelTitle)"
                                                        style="color:green; cursor: pointer;" aria-hidden="true"></span>
                                                </td>
                                            </tr>
                                            <!-- Dữ liệu câu hỏi -->
                                            <tr *ngFor="let item of lstBangKhaoSatCauHoiGroupItem(iPanelTitle).controls let i = index"
                                                [formGroupName]="i">
                                                <td class="text-center align-items-center">
                                                    {{ i + 1 }}
                                                    <input formControlName="id" type="hidden" />
                                                    <input formControlName="idCauHoi" type="hidden" />
                                                    <input formControlName="priority" type="hidden" />
                                                    <input formControlName="panelTitle" type="hidden" />
                                                </td>
                                                <td>
                                                    {{item.get('maCauHoi')?.value}}
                                                </td>
                                                <td>
                                                    {{item.get('tieuDe')?.value}}
                                                </td>
                                                <td class="text-center">
                                                    <p-inputSwitch formControlName="isRequired"></p-inputSwitch>
                                                </td >
                                                <td class="vertical-align-middle text-center" *ngIf="!checkBtnDetail == true">
                                                    <span class="pi pi-plus m-2" title="Thêm"
                                                        (click)="showGroupDialogCh(iPanelTitle)"
                                                        style="color:green; cursor: pointer;" aria-hidden="true"></span>
                                                    <span class="pi pi-trash " title="Xoá"
                                                        (click)="deleteGroupItem(i, iPanelTitle)"
                                                        style="color: red; cursor: pointer;" aria-hidden="true"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <input type="hidden" formControlName="id">
            <button pButton (click)="visible = false" type="button" label="Đóng"
                class="custom-button surface-600"></button>
            <button pButton [disabled]="!formTableSurvey.valid || CheckButton()" type="submit" icon="pi pi-save"
                label="Lưu" class="custom-button"*ngIf="!checkBtnDetail == true"></button>
        </ng-template>
    </p-dialog>
</form>

<p-dialog [(visible)]="visibleCauHoi" [modal]="true" [style]="{ width: '55vw' }" [draggable]="false" [resizable]="true"
    [maximizable]="true">
    <ng-template pTemplate="header">
        <h5 class="modal-title">
            {{"Chọn câu hỏi"}}
        </h5>
    </ng-template>

    <ng-template pTemplate="body">
        <form (ngSubmit)="onSubmitSearchCauHoi()" class="form-inline mt-4">
            <div class="form-group mb-2">
                <label for="keyWordCauHoi" class="sr-only">Search</label>
                <input type="search" class="form-control" id="keyWordCauHoi" [(ngModel)]="keyWordCauHoi"
                    [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
            </div>
            <button type="submit" class="btn btn-primary ml-2 mb-2">
                <i class="pi pi-search"></i>
            </button>
        </form>
        <p-table #dtq ngClass="cust-tbl" [value]="datasCauHoi" [lazy]="true" (onLazyLoad)="loadListLazyCauHoi($event)"
            [scrollable]="true" scrollHeight="calc(100vh - 396px)" [(selection)]="selectedCauHoi" dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loadingCauHoi"
            [paginator]="true" [totalRecords]="dataTotalRecordsCauHoi"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0"
            [resizableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 40px">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 60px; text-align: center;">
                        STT
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Mã
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Tiêu đề
                        </div>
                    </th>
                    <th >
                        <div class="flex justify-content-between align-items-center">
                            Loại câu hỏi
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr class="p-selectable-row">
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td class="text-center align-items-center">
                        <span class=" p-column-title">STT</span>
                        {{ rowIndex + 1}}
                    </td>

                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.maCauHoi }}</span>
                    </td>

                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.tieuDe }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ rowData.loaiCauHoiText }}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" class="text-center">Không có bản ghi nào</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton (click)="visibleCauHoi = false" type="button" label="Đóng"
            class="custom-button surface-600"></button>
        <button pButton
            (click)="!lstBangKhaoSatCauHoiGroup || lstBangKhaoSatCauHoiGroup.length === 0 ? addItem() : addGroupItem()"
            type="button" icon="pi pi-save" label="Xác nhận" class="custom-button"></button>
    </ng-template>
</p-dialog>

<form *ngIf="frmGuiEmail" [formGroup]="frmGuiEmail" (ngSubmit)="onSubmitGuiEmail()">
    <p-dialog [(visible)]="visibleGuiEmail" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false"
        [resizable]="true" [maximizable]="true">
        <ng-template pTemplate="header">
            <h5 class="modal-title">
                Gửi bảng khảo sát
            </h5>
        </ng-template>

        <ng-template pTemplate="body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="lstIdDonVi" class="col-form-label">Đơn vị <span style="color: red;">*</span></label>
                    <p-multiSelect [options]="lstDonVi" [(ngModel)]="selectedDonVi" defaultLabel="-- Chọn đơn vị --" appendTo="body"
                        optionLabel="tenDonVi" optionValue="id" display="chip" id="lstIdDonVi"
                        emptyMessage="Không có kết quả nào" emptyFilterMessage="Không tìm thấy kết quả"
                        [ngModelOptions]="{standalone: true}" class="form-select-custom"></p-multiSelect>
                    <small class="invalid-feedback" *ngIf="lstIdDonViError">
                        Vui lòng nhập tiêu đề
                    </small>
                </div>
                <div class="form-group col-md-12">
                    <label for="tieuDe" class="col-form-label">Nhập tiêu đề <span style="color: red;">*</span></label>
                    <input formControlName="tieuDe" type="text" pInputText class="form-control" id="tieuDe">
                    <small class="invalid-feedback"
                        *ngIf="!frmGuiEmail.controls['tieuDe'].valid && frmGuiEmail.controls['tieuDe'].dirty && !checkBtnDetail == true">
                        Vui lòng nhập tiêu đề
                    </small>
                </div>
                <div class="form-group col-md-12">
                    <label for="noidung" class="col-form-label">Nhập nội dung</label>
                    <p-editor formControlName="noidung" [style]="{ height: '100px' }" id="noidung"></p-editor>
                    <!-- <small *ngIf="!frmGuiEmail.controls['noidung'].valid && frmGuiEmail.controls['noidung'].dirty && !checkBtnDetail == true"
                        class="invalid-feedback">
                        Vui lòng nhập nội dung
                    </small> -->
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button type="button" class="btn btn-secondary" (click)="visibleGuiEmail = false">Hủy</button>
            <button type="submit" class="btn btn-primary">Gửi</button>
        </ng-template>
    </p-dialog>
</form>