.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.btn-khai-lai:active {
  background: rgba(239, 123, 58, 1);
  color: white;
}

.btn-khai-lai {
  background: rgba(239, 123, 58, 1);
  max-width: 155px;
}

.btn-tiep-theo {
  background: rgba(36, 119, 69, 1);
}

.icon-khai-lai-tu-dau {
  background-image: url("/assets/img/icons/khai-lai-tu-dau.svg");
}

.icon-tiep-theo {
  background-image: url("/assets/img/icons/tiep-theo.svg");
  margin-right: 0;
  margin-left: 5px;
  width: 10px;
  height: 15px;
  background-size: 15px 10px;
}

.thong-tin-chung h2 {
  background-color: rgba(124, 195, 225, 1);
  padding: 6px 0;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid;
}

.thong-tin-don-vi {
  padding: 24px 40px 24px 40px;
}

.thong-tin-nguoi-dien-phieu {
  padding: 0 40px 10px 40px;
}

.lbl {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.require::after {
  content: "*";
  color: red;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 3px;
}

.box-info {
  border: 1px solid;
  margin-bottom: 24px;
}

/* :host {
  .p-dialog-footer {
    display: flex;
    justify-content: flex-end;
  }
} */
