<!-- <p-toast [style]="{ width: '20vw', height: '5vh' }"></p-toast> -->
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <h5>Xác nhận xoá lĩnh vực</h5>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" class="custom-small-button btn btn-secondary" label="Đóng"
      (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-trash" class="custom-small-button" style="background-color: #ea5c5c"
      label="Xóa" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<div>
  <h5>Lĩnh vực hoạt động</h5>
  <div class="d-flex mt-3">
    <div>
      <button (click)=" Add()" pButton type="button" icon="pi pi-plus" label="Thêm mới" class="custom-button"></button>
    </div>
    <div class="ml-3">
      <button pButton type="button" (click)="confirmDeleteMultiple()" icon="pi pi-trash" label="Xoá"
        *ngIf="selectedFieldOfActivity && selectedFieldOfActivity.length > 0" class="custom-button"
        style="background-color: #ea5c5c;"></button>
    </div>
  </div>
  <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
    <div class="form-group mb-2">
      <label for="keyWord" class="sr-only">Search</label>
      <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord"
        [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
    </div>
    <button type="submit" class="btn btn-primary ml-2 mb-2">
      <i class="pi pi-search"></i>
    </button>
  </form>
</div>
<div class="card mt-3">
  <p-table #dt [value]="datas" [lazy]="true" (onLazyLoad)="loadListLazy($event)" [scrollable]="true"
    scrollHeight="calc(100vh - 396px)" [(selection)]="selectedFieldOfActivity" dataKey="id"
    styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [totalRecords]="dataTotalRecords"
    currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0"
    [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px;">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 60px;">
          STT
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Mã lĩnh vực
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Tên lĩnh vực
          </div>
        </th>
        <th pResizableColumn>
          <div class="flex justify-content-between align-items-center">
            Mô tả
          </div>
        </th>

        <th style="width: 120px;">
          <div>
            Chức năng
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td>
          <span class="p-column-title">STT</span>
          {{ rowIndex + 1}}
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.maLinhVuc }}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.tenLinhVuc }}</span>
        </td>

        <td>
          <span class="ml-1 vertical-align-middle">{{ rowData.moTa }}</span>
        </td>
        <td>
          <a class="m-3"><span data-toggle="modal" data-target="#createForm" (click)="Edit(rowData)"
              class="pi pi-pencil" title="Cập nhật" aria-hidden="true"></span></a>
          <a class="m-3"><span class="pi pi-trash" title="Xoá" (click)="Delete(rowData)" style="color: red;"
              aria-hidden="true"></span></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center">Không có bản ghi nào</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- modal -->
<form *ngIf="FormFieldOfActivity" #form="ngForm" [formGroup]="FormFieldOfActivity" (ngSubmit)="onSubmit()">
  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '40vw'}" [draggable]="false" [resizable]="true"
    [maximizable]="true">
    <ng-template pTemplate="header">
      <h5 class="modal-title">
        {{ showadd === true ? "Thêm mới lĩnh vực" : "Cập nhật lĩnh vực" }}
      </h5>
    </ng-template>
    <ng-template pTemplate="body">
      <div class="form-group">
        <label for="maLinhVuc" class="col-form-label">Mã lĩnh vực: <span style="color: red;">*</span></label>
        <input type="text" formControlName="maLinhVuc" class="form-control" id="maLinhVuc"
          placeholder="Nhập mã lĩnh vực">
        <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormFieldOfActivity.controls['maLinhVuc'].valid && 
            FormFieldOfActivity.controls['maLinhVuc'].dirty">
          Vui lòng nhập mã lĩnh vực
        </small>
      </div>

      <div class="form-group">
        <label for="tenLinhVuc" class="col-form-label">Tên lĩnh vực: <span style="color: red;">*</span></label>
        <input type="text" formControlName="tenLinhVuc" class="form-control" id="tenLinhVuc" pInputText
          placeholder="Nhập tên lĩnh vực" [ngClass]="{
              'is-invalid': submitted && f('tenLinhVuc').errors
            }">
        <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormFieldOfActivity.controls['tenLinhVuc'].valid && 
            FormFieldOfActivity.controls['tenLinhVuc'].dirty">
          Vui lòng nhập tên lĩnh vực
        </small>
      </div>

      <div class="form-group">
        <label for="moTa" class="col-form-label">Mô tả: <span style="color: red;">*</span></label>
        <textarea class="form-control" formControlName="moTa" id="moTa" pInputText placeholder="Nhập mô tả" [ngClass]="{
            'is-invalid': submitted && f('moTa').errors
          }"></textarea>
        <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormFieldOfActivity.controls['moTa'].valid && 
            FormFieldOfActivity.controls['moTa'].dirty">
          Vui lòng nhập Mô tả
        </small>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton (click)="visible = false" type="button" label="Đóng" class="custom-button surface-600"></button>
      <button pButton [disabled]="!FormFieldOfActivity.valid" type="submit" icon="pi pi-save" label="Lưu"
        class="custom-button"></button>
    </ng-template>
  </p-dialog>
</form>