<div>
  <h5>Bảng thống kê khảo sát</h5>
  <div class="d-flex">
    <form class="w-100" [formGroup]="frmStatiscal" (ngSubmit)="search()">
      <div class="col-12">
        <div class="row">
          <div class="form-group form-inline col-4 mb-0 pb-0">
            <div class="col-3">
              <label for="idDotKhaoSat">Đợt khảo sát <span style="color: red;">*</span></label>
            </div>
            <div class="col-9">
              <p-dropdown id="idDotKhaoSat" formControlName="idDotKhaoSat" [options]="LstDotKhaoSat"optionLabel="tenDotKhaoSat" optionValue="id"
                [filter]="true" filterBy="tenDotKhaoSat" emptyMessage="Không có kết quả nào"
                emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
                placeholder="-- Chọn đợt khảo sát --"  (onChange)="loadTableSurvey()">
              </p-dropdown>
            </div>
          </div>
          <div class="form-group form-inline col-4 mb-0 pb-0">
            <div class="col-3">
              <label for="idBangKhaoSat">Bảng khảo sát <span style="color: red;">*</span></label>
            </div>
            <div class="col-9">
              <p-dropdown id="idBangKhaoSat" formControlName="idBangKhaoSat"[options]="LstBangKhaoSat" optionLabel="tenBangKhaoSat" optionValue="id"
                [filter]="true" filterBy="tenBangKhaoSat" emptyMessage="Không có kết quả nào"
                emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
                placeholder="-- Chọn bảng khảo sát --" >
              </p-dropdown>
            </div>
          </div>
          <div class="form-group form-inline col-4 mb-0 pb-0">
            <div class="col-3">
              <label for="idLoaiHinhDonVi">Đối tượng</label>
            </div>
            <div class="col-9">
              <p-dropdown id="idLoaiHinhDonVi"formControlName="idLoaiHinhDonVi" [options]="LstLoaiHinhDv" optionLabel="tenLoaiHinh" optionValue="id"
                [filter]="true" filterBy="tenLoaiHinh" emptyMessage="Không có kết quả nào"
                emptyFilterMessage="Không tìm thấy kết quả" [showClear]="true" class="form-select-custom"
                placeholder="-- Chọn loại hình đơn vị --" formControlName="idLoaiHinhDonVi">
              </p-dropdown>
              <small style="color: #e24c4c;" class="ml-2" *ngIf="!frmStatiscal.controls['idLoaiHinhDonVi'].valid && 
                            frmStatiscal.controls['idLoaiHinhDonVi'].dirty">
                Vui lòng chọn bảng khảo sát
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group form-inline col-4 mb-0 pt-0">
            <div class="col-3">
              <label for="ngayBatDau">Ngày bắt đầu</label>
            </div>
            <div class="col-9">
              <p-calendar formControlName="ngayBatDau" id="ngayBatDau" class="input-date-custom" dateFormat="dd/mm/yy"
                [showIcon]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
            </div>
          </div>
          <div class="form-group form-inline col-4 mb-0 pt-0">
            <div class="col-3">
              <label for="ngayKetThuc">Ngày kết thúc</label>
            </div>
            <div class="col-9">
              <p-calendar formControlName="ngayKetThuc" id="ngayKetThuc" class="input-date-custom" dateFormat="dd/mm/yy"
                [showIcon]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
            </div>
          </div>
          <div class="form-group form-inline col-4  mb-0 pt-0">
            <button pButton type="submit" icon="pi pi-search" label="Tìm kiếm"
              class="btn btn-primary custom-button mr-2" style="padding: 9.25px 20px;">
            </button>
            <button pButton type="button" icon="pi pi-refresh" label="Cài lại" (click)="reset()"
              class="btn btn-primary custom-button" style="padding: 9.25px 20px;">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr>
</div>

<div class="card mt-3">
  <div class="row">
    <div class="col-6">
      <div class="flex justify-content-center">
        <p-chart type="doughnut" [data]="doughnutData" [options]="doughnutOptions"></p-chart>
      </div>
    </div>
    <div class="col-6">
      <div class="flex justify-content-center h-100">
        <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="row">
    <p-tabView class="col-md-12">
      <p-tabPanel header="Tổng quan">
        <div class="d-flex ml-3">
          <div class=" d-flex">
            <button pButton type="button" icon="pi pi-file-export" label="Xuất dữ liệu" class="custom-button"
              style="background-color: green;" (click)="exportExcelSimple()">
            </button>
          </div>
        </div>
        <div class="card mt-3">
          <p-table #dt ngClass="cust-tbl" [value]="datas" [lazy]="true" [scrollable]="true"
            scrollHeight="calc(250vh - 396px)" dataKey="id" styleClass="p-datatable-gridlines p-datatable-striped"
            [rowHover]="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 60px;text-align: center;">
                  STT
                </th>
                <th pResizableColumn>
                  Câu hỏi - Câu trả lời
                </th>
                <th pResizableColumn class="text-center">
                  Số lượt chọn
                </th>
                <th pResizableColumn class="text-center">
                  Tỷ lệ (%)
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr class="table-row">
                <td class="text-center align-items-center" colspan="1" rowspan="2">
                  {{ rowIndex + 1}}
                </td>
                <td colspan="3">
                  {{ rowData.tenCauHoi }}
                </td>
              </tr>

              <tr class="table-row">
                <td>
                  <div [ngSwitch]="rowData.loaiCauHoi">
                    <div *ngSwitchCase="7">
                      <ng-container *ngFor="let item of rowData.cauHoiTraLoi; trackBy:trackByFn">
                        <ng-container *ngFor="let item of getDataKqFile(item.cauTraLoi); trackBy:trackByFn">
                          <a (click)="downloadFile(item)" download title="{{item.name}}" style="cursor: pointer;">
                            {{item.name}}
                          </a>
                          <br>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div *ngSwitchDefault>
                      <ng-container *ngFor="let item of rowData.cauHoiTraLoi; trackBy:trackByFn">
                        <div>{{getDataKq(item.cauTraLoi)}}</div>
                      </ng-container>

                    </div>
                  </div>
                </td>
                <td class="text-right align-items-center">
                  <div *ngFor="let cauTraLoi of rowData.cauHoiTraLoi">{{ cauTraLoi.soLuotChon }}</div>
                </td>
                <td class="text-right align-items-center">
                  <div *ngFor="let cauTraLoi of rowData.cauHoiTraLoi">{{ cauTraLoi.tyLe }}%</div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4" class="text-center">Không có bản ghi nào</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Chi tiết kết quả khảo sát">
        <div class="d-flex mt-3">
          <div class="ml-3">
            <button pButton type="button" icon="pi pi-file-export" label="Xuất Excel" class="custom-button"
              style="background-color: green;" (click)="exportExcelDetail()">
            </button>
          </div>
          <div class="ml-3">
            <button pButton type="button" icon="pi pi-file-export" label="Xuất PDF" class="custom-button"
              style="background-color: #ff7b00;" (click)="exportPDFDetail()">
            </button>
          </div>
          <div class="ml-3">
            <form (ngSubmit)="onSubmitSearch()" class="form-inline">
              <div class="form-group mb-2">
                <label for="keyWord" class="sr-only">Search</label>
                <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyWord"
                  [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
              </div>
              <button type="submit" class="btn btn-primary ml-2 mb-2">
                <i class="pi pi-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="card mt-3">
          <p-table #dtCt ngClass="cust-tbl" [value]="dataChiTiet" [lazy]="true" (onLazyLoad)="loadListLazy($event)"
            [scrollable]="true" scrollHeight="calc(100vh - 396px)" [(selection)]="selectedBaoCaoChiTiet" dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            [totalRecords]="dataTotalRecords" [resizableColumns]="true"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0">
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 60px;text-align: center;max-width: 60px; width: 60px;" class="pFrozen top-0">
                  STT
                </th>
                <th [style]="lstTh.length > 0 ? 'width: 150px;text-align: center;' : 'width: auto;text-align: center;'"
                  class="pFrozen pFrozen-1 top-0">
                  Dấu thời gian
                </th>
                <th [style]="lstTh.length > 0 ? 'width: 150px;text-align: center;' : 'width: auto;text-align: center;'"
                  class="pFrozen pFrozen-1 top-0">
                  Tên đơn vị
                </th>
                <th pResizableColumn *ngFor="let col of lstTh; trackBy:trackByFn" class="text-ellipsis">
                  {{ col }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr class="table-row">
                <td class="align-items-center pFrozen" style="display: table-cell;text-align: center;">
                  {{ rowIndex + 1}}
                </td>
                <td class="pFrozen pFrozen-1">
                  {{rowData.dauThoiGian | date:'dd/MM/yyyy hh:ss'}}
                </td>
                <td class="pFrozen pFrozen-1">
                  {{rowData.tenDaiDienCq}}
                </td>
                <td *ngFor="let item of rowData.lstCauHoiCauTraLoi; trackBy:trackByFn">
                  <div [ngSwitch]="item.loaiCauHoi">
                    <div *ngSwitchCase="7">
                      <ng-container *ngFor="let item of getDataKqFile(item.cauTraLoi); trackBy:trackByFn">
                        <a (click)="downloadFile(item)" download title="{{item.name}}" style="cursor: pointer;">
                          {{item.name}}
                        </a>
                        <br>
                      </ng-container>
                    </div>
                    <div *ngSwitchDefault>
                      <p *ngFor="let item of item.cauTraLoi; trackBy:trackByFn">{{getDataKq(item)}}</p>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="2" class="text-center">Không có bản ghi nào</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

</div>