<div>
  <h4 class="m-4">Dashboard</h4>  
  <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" [editable]="true" optionLabel="name"></p-dropdown> -->
    <div class="row">
        <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Loại thời gian</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Từ ngày</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Đến ngày </label>
            <input type="date" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Loại thời gian</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group ml-3 col-md-2">
            <label for="exampleFormControlSelect1">Loại thời gian</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group ml-3 col-md-1" style="margin-top: 30px;">
            
            <button pButton type="button" icon="pi pi-refresh"
                label="Reset" class="custom-button"></button>
          </div>
    </div>

    <div id="surveyDashboardContainer"></div>
</div>

<div>
  <hr>
  <h4>Thống kê</h4>
</div>